#ffo-modules .ffo-module {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background: #f9f9f9;
}
.ffo-remove-module {
  color: #b32d2e;
  text-decoration: none;
}

/* Fields for fullwidth-2x2-fullwidth layout */
.ffo-fw2x2fw-field { display: none; }
#ffo-fw2x2fw-fields { display: none; margin-top: 10px; }
